<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
     
     
      <test name="loany">
      <classes>
      <class name="test.day2">
      <methods>
      
      <exclude name="zdance"/>
      </methods>
     </class>
      </classes>
      </test>
      </suite>
      
      
      
      
      
      
 
